:root {
  --blue: #0000ff;
  --light-blue: rgba(0, 0, 100, 0.5);
  --black: #000000;
  --white: #ffffff;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  background-color: var(--white);
  box-sizing: border-box;
}

.input {
  display: flex;
  flex-direction: column;
  width: 20vw;
  padding: 20px;
  padding-left: 5px;
  flex-shrink: 0;
}

.input div {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 0;
}

.input input {
  width: 100%;
}

.add-button {
  width: 100%;
}

.renderer div {
  width: 100%;
  height: 100%;
}

path {
  stroke: var(--blue);
  stroke-width: 4px;
  fill: var(--light-blue);
}
